name: CR001 CI

on:
  pull_request:
    branches:
      - cr001

jobs:
  cr001-setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: 
            echo 'this is my first hello world'
    #     uses: actions/setup-python@v5
    #     with:
    #       python-version: "3.11"

    #   - name: Install dbt
    #     run: |
    #       pip install dbt-core dbt-snowflake

    #   - name: Create dbt profiles
    #     run: |
    #       mkdir -p ~/.dbt
    #       cat << EOF > ~/.dbt/profiles.yml
    #       cicd_demo:
    #         outputs:
    #           dev:
    #             type: snowflake
    #             account: ${{ secrets.SNOWFLAKE_ACCOUNT }}
    #             user: ${{ secrets.SNOWFLAKE_USER }}
    #             password: ${{ secrets.SNOWFLAKE_PASSWORD }}
    #             role: ${{ secrets.SNOWFLAKE_ROLE }}
    #             database: ${{ secrets.SNOWFLAKE_DATABASE }}
    #             warehouse: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
    #             schema: ${{ secrets.SNOWFLAKE_SCHEMA }}
    #             threads: 1
    #         target: dev
    #       EOF

    #   - name: dbt debug
    #     working-directory: cicd_demo
    #     run: dbt debug

    #   - name: dbt build (CI scope)
    #     working-directory: cicd_demo
    #     run: dbt build --select state:modified+
