name: CR001 CI

on:
  workflow_dispatch:


jobs:
  cr001-setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run:  
            echo 'this is my first hello world'
    